<div class="container">
  <div class="row" style="height:20px">&nbsp;</div>

  <div class="row">
    <div class="span12">
      <h4>Can you see your breath?</h4>
    </div>
  </div>

  <div class="row seebreath">
    <div class="span12">
      <p class="seebreath"><%= image_tag "spinner.gif" %></p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <table class="table table-condensed">
        <tbody>
          <tr><td><i class="icon-map-marker"></i> Your Location</td><td class="location">Loading...</td></tr>
          <tr><td><i class="icon-cog"></i> Temperature</td><td class="temp">Loading...</td></tr>
          <tr><td><i class="icon-tint"></i> Humidity</td><td class="humidity">Loading...</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>